* {
    padding:0;
    margin:0;

}
body{
    display: table;
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-position: 30% 45%;
    background-size: cover;

}
.main{
    max-width: 500px;
    margin: auto;
}
.main h1{
    color: #FFF;
    text-align: center;
    font-size: 70px;
    font-family: Chalkboard;
}



h2{
    color: #FFF;
    text-align: center;
    font-size: 50px;
    font-family: "Academy Engraved LET";
    padding: 10px;
    margin: 30px;
}
button {
    position: relative;
    background-color: #04AA6D;
    font-size: 28px;
    color: #FFFFFF;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

